@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @*<h1 class="display-4">Welcome</h1>
    <p>Learn about building Web apps with ASP.NET Core.</p>*@
    <div>
        <a href="/QRCode/Index" class="btn btn-primary btn-lg">Générer un QR Code</a>
        <a href="/QRCode/Scan" class="btn btn-primary btn-lg">Scanner un QR Code</a>
    </div>
</div>